<section id="about" class="feature">
    <div class="row"
         data-bottom="transform:translateY(-5em)" data--100-bottom="transform:translateY(0)">
    </div>

    <div class="row">
        <div class="large-12 columns" data-anchor-target="#_about">
            <blockquote>
                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)">Have you tried your hand at Dropwizard before? Would you like to develop a complete website in 4 hours flat?</p>

                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)"><small>If you are a developer who’s looking for some fun with Open Source this weekend, here’s your chance to do that! Learn to work with Dropwizard through this hands-on workshop that provides a platform for women techies in Chennai to Code & Collaborate.</small></p>

                <em id="_about" data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)"><small>This is organized by a group of programmers and sponsored by ThoughtWorks.</small></em>

                <cite data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">Workshop Volunteers</cite>
            </blockquote>
        </div>
    </div>
</section>
