<section id="about" class="feature">
    <div class="row"
         data-bottom="transform:translateY(-5em)" data--100-bottom="transform:translateY(0)">
    </div>

    <div class="row">
        <div class="large-12 columns" data-anchor-target="#_about">
            <blockquote>
                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)">This event aims to provide technical knowledge, hands-on experience in Dropwizard and increase collaboration among women techies in Chennai.</p>

                <p data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)"><small>It is for techies with basic java knowledge and passionate to learn.</small></p>

                <p id="_about" data--100-bottom-top="transform:perspective(400px) rotateX(90deg) scale(.5);transform-origin:50% 0" data--100-bottom="transform:perspective(400px) rotateX(0deg) scale(1)"><small>It is organized by a passionate group of programmers and sponsored by ThoughtWorks.</small></p>

                <cite data--100-bottom-top="transform:translateX(100%)" data--100-bottom="transform:translateX(0)">Workshop Volunteers</cite>
            </blockquote>
        </div>
    </div>
</section>
